<button [routerLink]="['/login']">login</button>
<button [routerLink]="['/registrar']">registrate!</button>
<button [routerLink]="['/reservar/calendario']">reserva</button>

<br>

<h1>Quieres evitar que te pasen cosas así?</h1>
<iframe width="560" height="315" [src]="video | securityVideo:'https://www.youtube.com/embed/'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h3>Reserva con nosotros</h3>
