<button mat-button [routerLink]="['/login']" color="primary" mat-stroked-button>Login</button>

<button mat-button [routerLink]="['/registrar']" color="primary" mat-stroked-button>Registrate!</button>

<button mat-button [routerLink]="['/reservar/calendario']" color="accent" mat-stroked-button>Reserva</button>


<br>

<h1>Quieres evitar que te pasen cosas así?</h1>
<iframe width="560" height="315" [src]="video | securityVideo:'https://www.youtube.com/embed/'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<h3>Reserva con nosotros</h3>