p {
    font-family: Lato;
}

h2 {
    color: brown;
    text-align: center;
}

table {
    color: rgb(41, 41, 190);
    text-align: center;
}

td {
    background-color: rgb(228, 220, 220);
    text-align: center;
}

div {
    text-align: center;
}

.temperatura {
    background-color: red;
    color: yellow;
}